body {
    font-family: sans-serif;
}

.card {
    border: none;
    --bs-card-inner-border-radius: none;
}

a , a:hover {
    text-decoration: none;
    color: #000000;
}

:hover {
    color: initial;
}

.home {
    border-left: 1px solid #f4f4f4;
    border-right: 2px solid #f4f4f4;
}

.card-body p, p:hover, .tagline, .contribiuted-by {
    color: #b5b5b5;
}

.icon-home :hover {
    color: #ffffff 
}

td img {
    width: 2.5rem;
    margin: 1rem;
    height: 150px;
}

.list-element {
    display: flex;
}

.body-list-card {
    margin: 2rem;
    height: 2rem;
}

.list-row {
    height: 100px;
}

.details-card {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
}

.details-card img {
    width: 6rem;
    height: 20rem;
    align-self: center;
}   

.body-list-card article {
    display: flex;
    justify-content: space-between;
}

.attenuation {
    color: #b5b5b5;
}

.contribiuted-by {
    margin-top: 1rem;
    font-size: small;
}

.description {
    margin-top: 1rem;
}

.tagline{
    font-size: 1.2rem;
}

form {
    margin: 2rem;
}

form .form-control, .form-button {
    border-radius: 2rem;
}

.form-button:hover {
    color: #ffffff;
}

.btn-info {
    --bs-btn-active-color: #0dcaf0;
    --bs-btn-active-bg: #ffffff;
}

.form-button {
    color: #ffffff;
    margin-top: 1rem;
    width: 100%;
}

.toast {
    z-index: 9999;
    position: fixed;
    --bs-toast-bg: #ffffff;
    --bs-toast-header-bg: #0dcaf0;
    bottom: 1rem;
    right: 0;
}